@model ShopRounding3rd.Web.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@foreach (var item in Model.Products)
{
    <div class="well">
        <h4><strong>@item.Name</strong></h4>
        <span class="lead">@item.Description</span>
        <h5>
            <span class="pull-right label label-primary">@item.Price.ToString("c")</span>
        </h5>
    </div>
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>
